<ul class="list-group">
    <li class="list-group-item"><a href="/Admin">Dashboard</a></li>
    <li class="list-group-item"><a href="/Admin/News">News</a></li>
    <li class="list-group-item"><a href="/Admin/FAQ">FAQ</a></li>
    <li class="list-group-item"><a href="/Admin/Registrations">Registrations</a></li>
    <li class="list-group-item"><a href="/Admin/Users">Users</a></li>
    <li class="list-group-item"><a href="/Admin/ContentBlocks">Content Blocks</a></li>
    <li class="list-group-item"><a href="/Admin/Newsletter">Newsletter Subscribers</a></li>
</ul>
