@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model RISE.Models.News
<h2>Create News</h2>
<form method="post">
    <div class="mb-2">
        <label class="form-label">Title</label>
        <input class="form-control" asp-for="Title" required />
    </div>
    <div class="mb-2">
        <label class="form-label">Content</label>
        <textarea class="form-control" asp-for="Content" rows="6"></textarea>
    </div>
    <button class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" href="/Admin/News">Cancel</a>
</form>
