@using(Html.BeginForm("Subscribe", "Newsletter", FormMethod.Post))
{
    <div class="newsletter-box">
        <input type="email" name="email" placeholder="Enter your email" required class="form-control" />
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </div>
}